In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect('sakila.db')

In [ ]:
def sql_to_df(sql_query):
  df = pd.read_sql(sql_query, con)
  return df

In [ ]:
query = '''
  SELECT *
  FROM sqlite_master
  WHERE type = 'table'
'''

tables = sql_to_df(query)
tables

In [ ]:
query = '''
  SELECT first_name, last_name
  FROM customer
'''

customer_names = sql_to_df(query)
customer_names

In [ ]:
print(customer_names.head())

In [ ]:
print(customer_names.tail())

In [ ]:
print(customer_names.describe())

In [ ]:
print(customer_names.info())

In [ ]:
query = '''
  SELECT *
  FROM film
  WHERE description
  LIKE '%Pastry%'
'''

pastry_films = sql_to_df(query)
pastry_films

In [ ]:
query = '''
  SELECT 
    COUNT(title) AS Count,
    rating
  FROM film
  WHERE description
  LIKE '%Pastry%'
  GROUP BY rating
  ORDER BY Count DESC;
'''

pastry_films_by_rating = sql_to_df(query)
pastry_films_by_rating

In [ ]:
pastry_films_by_rating.hist(column='Count', grid=False)